.first-background {
    background-color: black;
    padding-bottom: 20px;
    padding: 100px;
}

.accueil-background {
    background-color: #FF6B82;
    padding-top: 50px;
    padding-bottom: 50px;
}

.titre-h1 {
    font-family: orbitron;
    margin-left: 50px;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-right: 40px;
}

.titre-h1:hover {
    transform: rotate(360deg) scale(1,2);
}

.accueil-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.shake {
    color: black;
    text-align: center;
    font-family: orbitron;
    padding-bottom: 20px;
}

.accueil {
    display: flex;
    flex-direction: column;
}

.coeur1 {
    width: 70px;
    height: 90px;
}

.flingue {
    width: 80px;
    height: 90px;  
}

.accueil-titre {
    display: flex;
    justify-content: space-around;
}

.accueil-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    border-radius: 50px;
    width: 80px;
    background-color: #36C8D1;
}

audio {
   width: 250px;
   height: 30px;
}