.first-background {
    background-color: black;
    padding-bottom: 20px;
    padding: 100px;
}

.accueil-background {
    border-radius:50px;
    background-color: #d836a7;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0px 80px 60px #e439b0;
}

.titre-h1 {
    font-family: orbitron;
    margin-left: 50px;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-right: 40px;
}

.titre-h1:hover {
    transform: rotate(360deg) scale(1,2);
}

.accueil-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.shake {
    color: black;
    text-align: center;
    font-family: orbitron;
    padding-bottom: 20px;
}

.accueil {
    display: flex;
    flex-direction: column;
}

.accueil-titre {
    display: flex;
    justify-content: space-around;
}

.accueil-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
   width: 250px;
   height: 30px;
}

.HomeBtnStart{
    background-color: #00415C;
    text-transform: uppercase;
    padding: 6px 26px;
    border-radius: 10px;
    color:#e439b0;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 4px;
}
.HomeBtnStart:focus{
    outline: none !important;
}