

#buttonNoMatch {
    margin-top: 250px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 40px ;
    width: 250px;
}

#buttonNoMatch:hover {
    margin-top: 250px;
    padding: 5px;
    background-color: rgb(185, 10, 10);
    border-radius: 10px;
    color: black;
    font-size: 40px ;
    width: 250px;
}