@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
button:focus{
    outline:none;
}
.invisible{
    display:none;
}
.Container-Jeu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vh;
}
.Jeu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    border: 15px solid rgb(199, 78, 189);
    border-radius: 10px;
    padding:10px 12px;
    margin-top: 10px;
}

.TitreJeu { 
    font-family: 'Orbitron', sans-serif;
    color: rgb(231, 128, 223);
    font-size: 50px;
    letter-spacing: 5px;
    padding: 0px;
    margin-bottom: 20px;
}

#tableauJeu {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0px;
    padding: 0px;
}

.Card {
    height: 200px;
}

.ImageJeu {
    height: 200px;
    width: auto;
}

#icon18 {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    animation: Test 0.04s infinite;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60000, 0 0 20px #e600d3, 0 0 25px #e60000, 0 0 30px #de00e6, 0 0 35px #de00e6;
}
    @keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

#ligneJeu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#buttonMatch {
    padding: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    border-radius: 10px;
    color: pink;
    font-size: 20px ;
    width: 250px;
    border-color: white;
}


#buttonMatch:hover {
    padding: 5px;
    background-color: pink;
    border-radius: 10px;
    color: blueviolet;
    font-size: 20px ;
    width: 250px;
}

#hart {
    font-size: 30px;
}


.buttonNoMatch {
    margin-top:40px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 40px ;
    width: 250px;
}

.buttonNoMatch:hover {
    padding: 5px;
    background-color: rgb(185, 10, 10);
    border-radius: 10px;
    color: black;
    font-size: 40px ;
    width: 250px;
}