.Match_background {
  border-radius:50px;
  background-image: url('./bg1.png');
  background-size: cover;
  background-position: center center;
}

.Match_container {
    
    max-width: 1400px;
    width: 70%;
    margin: 0px auto;
  }
  
.Match_candidat_container {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
  }
  
  .Match_img_candidat {
    margin: 0 30px 0 30px;
    border-radius:150px;
    height: 250px;
    width: 250px;
  }
  
  .button_match {
      margin-right: 30px;
      margin-left: 30px;
      width: 150px;
      border-radius: 50px;
      background-color: #36C8D1; ;
      
  }
  .Match_img_loveroom { 
    box-shadow: 0 0px 80px 60px #e439b0;
    border-radius:30px;
    margin-top:50px;
    width: 380px;
    height: 350px;
  }

  .btnMsg {
    height: 80px;
    text-transform: uppercase;
    box-shadow: 0 0px 80px 60px #63b1fa;
    color: rgb(148, 27, 132);
    background:rgb(96, 204, 247);
    font-size: 18px;
    font-weight: 800;
    border-color: transparent;
    border-radius: 10px;
    letter-spacing: 2px;
  }
  