/* .noMatch_container {
  max-width: 1400px;
  width: 70%;
  margin: 0px auto;
}
.noMAtch_user_weapon,
.noMAtch_ai_weapon {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noMAtch_ai_weapon {
  border: 1px solid green;
}
.noMatch_armes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10% 0;
  border: 1px solid green;
}
.img-weapon {
  width: 75px;
  object-fit: contain;
}
.noMatch_candidat_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10% 0;
}

@media screen and (max-width: 796px) {
  .noMatch_candidat_container {
    flex-direction: column;
  }
}

.noMatch_img_candidat {
  height: 300px;
  width: 250px;
}

.invisible {
  display: none;
} */
